.PokemonCard {
  background-color: rgba(0, 0, 0, 0.753);
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(158, 143, 9);
  color: rgb(158, 143, 9);
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 200px;
  height: 300px;
}

.pokemon {
  font-weight: bold;
  color: white;
}

.health {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.hp {
  color: rgb(7, 163, 7);
  margin-bottom: -18px;
}

.attack {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-right: 5px;
  color: rgb(204, 7, 7);
}

.defense {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-left: 5px;
  color: grey;
}

.fighting {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
